[Unit]
Description=Chromecast Content Blocker with Web Interface
After=network.target

[Service]
ExecStart=/home/pi/chromecast/launcher.sh
WorkingDirectory=/home/pi/chromecast
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target 