[Unit]
Description=Chromecast Content Blocker with Web Interface
After=network.target

[Service]
ExecStart=/home/pi/chromecast/launcher.sh
WorkingDirectory=/home/pi/chromecast
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Restart=always
User=root

[Install]
WantedBy=multi-user.target 