[Unit]
Description=Chromecast Content Blocker with Web Interface
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/chromecast/main.py --web --port=80
WorkingDirectory=/home/pi/chromecast
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target 